# Build output
bin/
obj/

# Rider / VS / VSCode
.vscode/
.vs/
*.user
*.suo
*.lscache

# OS junk
.DS_Store
Thumbs.db

# Dev notes
dev-notes/
CleanJsonApp.Tests/SAVE.txt

# Other 
*.csproj.user
*.csproj.iscache
*.iscache