@page "/"

<PageTitle>Clean JSON App</PageTitle>

<h1>Clean JSON App</h1>

<p>A smallish app to clean functional JSON code. </p> 

<p style="font-size: large;">
    <a href="/add-json">Open the JSON cleaner</a>
</p>
