@page "/history"
@using System.Text.Json.Nodes
@using System.Text.Json
@rendermode InteractiveServer 
@using CleanJsonApp.Models
@inject IJSRuntime JS 

<PageTitle>JSON History</PageTitle>

<h1>JSON History</h1>

<p>This component demonstrates history using localStorage.</p>

@if (loadErrors != null)
{
    <p><em>@loadErrors</em></p>
}
else if (savedJsons == null || savedJsons.Count == 0) {
    <p><em>Nothing to display... No saved JSON found.</em></p>
} else 
{
    <table class="table">
        <thead>
            <tr>
                <td>
                    <h2>List of JSON files</h2>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var savedJson in savedJsons)
            {
                <tr>
                    <td>
                        <pre>@savedJson.Json</pre>
                        @* <pre>@savedJson?.ToJsonString()</pre> *@
                        @* <pre>
                            @savedJson?.ToJsonString(
                                new JsonSerializerOptions{
                                    WriteIndented = true
                                }
                            )
                        </pre> *@
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<SavedJson> savedJsons = [];    
    private string? loadErrors; 

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender) {

            try {
                string? json = await JS.InvokeAsync<string>(
                        "localStorage.getItem", "savedJsons");

                if (string.IsNullOrWhiteSpace(json)){
                    savedJsons = [];
                    return;
                } 
                savedJsons = JsonSerializer.Deserialize<List<SavedJson>>(json) ?? []; 

                @* if (savedJsons == null || savedJsons.Count == 0) {
                    savedJsons = [JsonNode.Parse(json)!];   
                }
                else {
                    savedJsons = [..savedJsons, JsonNode.Parse(json)!];
                } *@

                @* savedJsons = [JsonNode.Parse(json)!];   *@

            } catch (JsonException) {
                loadErrors = "Ivalid JSON. Cannot load savedJsons to History.";
                Console.WriteLine(loadErrors); 
            }
            
            StateHasChanged(); 
        }

    }
}
