@page "/history"
@using System.Text.Json.Nodes
@using System.Text.Json
@rendermode InteractiveServer 
@inject IJSRuntime JS 

<PageTitle>JSON History</PageTitle>

<h1>JSON History</h1>

<p>This component demonstrates history using localStorage.</p>

@if (loadErrors != null)
{
    <p><em>@loadErrors</em></p>
}
else if (savedJsons == null || savedJsons.Length == 0) {
    <p><em>Nothing to display... No saved JSON found.</em></p>
} else 
{
    <table class="table">
        <thead>
            <tr>
                <td>
                    <h2>List of JSON files</h2>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var savedJson in savedJsons)
            {
                <tr>
                    <td>
                        @* <pre>@savedJson?.ToJsonString()</pre> *@
                        <pre>
                            @savedJson?.ToJsonString(
                                new JsonSerializerOptions{
                                    WriteIndented = true
                                }
                            )
                        </pre>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    private JsonNode[]? savedJsons;    
    private string? loadErrors; 

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender) {

            try {
                string? json = await JS.InvokeAsync<string>(
                        "localStorage.getItem", "latestJson");

                if (string.IsNullOrWhiteSpace(json)){
                    savedJsons = [];
                    return;
                } 

                if (savedJsons == null || savedJsons.Length == 0) {
                    savedJsons = [JsonNode.Parse(json)!];  
                }
                else {
                    savedJsons = [..savedJsons, JsonNode.Parse(json)!];
                }

                savedJsons = [JsonNode.Parse(json)!];  

            } catch (JsonException) {
                Console.WriteLine("Ivalid JSON. Cannot load savedJsons to History."); 
            }
            
            StateHasChanged(); 
        }

    }
}
